@font-face {
    font-family: "Director";
    src: url("../fonts/Director-Light.woff2") format("woff2-variations");
    font-display: swap;
    font-weight: 300;
}

@font-face {
    font-family: "Director";
    src: url("../fonts/Director-Regular.woff2") format("woff2-variations");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Director";
    src: url("../fonts/Director-Bold.woff2") format("woff2-variations");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "ShinMyungjo";
    src: url("../fonts/SM3신신명조-03.woff2") format("woff2-variations");
    font-display: swap;
    font-weight: 300;
}

::-moz-selection {
    background: black;
    color: white;
}

::selection {
    background: black;
    color: white;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Director", "ShinMyungjo", serif;
    font-weight: 300;
    font-size: clamp(10px, 0.8vw, 15px);
    line-height: 1.39;
    letter-spacing: -0.046em;
    word-spacing: -0.092em;
    /*font-size: 13px;
    font-weight: 300;
    line-height: 1.39;
    letter-spacing: -0.6px;
    word-spacing: -1.2px;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    background: white;
}

.container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 18px 3px 18px 3px;
    gap: 13px;
    overflow-y: auto;
    scrollbar-width: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.container > nav {
    height: 100%;
    grid-column: span 2;
}

.menus {
    position: sticky;
    top: 0px;
}

.container.works > main {
    grid-column: span 10;
}

.container.about > main {
    grid-column: span 5;
}

p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav li:first-child a {
    text-decoration: underline;
}

nav li:first-child a:hover {
    text-decoration: none;
}

.works-ul {
    padding-left: 0;
}

.container > main {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-column: span 10;
    grid-template-columns: repeat(10, 1fr);
    gap: 13px;
}

.container.about main {
    grid-template-columns: none;
}

.left {
    position: sticky;
    top: 0px;
    height: calc(100vh - 36px);
    grid-column: span 3;
}

.left.fake {
    display: none;
}

.right {
    position: relative;
    height: 100%;
    grid-column: 5 / span 6;
    overflow-y: auto;
    z-index: -1;
}

.right .images img {
    width: 100%;
}

.right .thumbnail img {
    opacity: 0;
    width: auto;
    max-width: 100%;
    max-height: calc(100vh - 36px);
    object-fit: contain;
}

.right .thumbnail img.show {
    opacity: 1;
}

@media screen and (max-width: 1280px) {
    .container > main {
        grid-template-columns: repeat(13, 1fr);
    }

    .container.about > main {
        grid-column: span 5;
        grid-template-columns: none;
    }

    .left {
        grid-column: span 4;
    }

    .right {
        grid-column: 6 / span 8;
    }
}

@media screen and (max-width: 768px) {
    .container {
        gap: 5px;
    }

    .container.about > main {
        grid-column: span 7;
    }

    .container > nav {
        height: 100%;
        grid-column: span 2;
    }

    .menus {
        position: sticky;
        top: 0px;
    }

    .container > main {
        grid-column: span 9;
        grid-template-columns: repeat(10, 1fr);
        gap: 5px;
    }

    .container.works main {
        grid-column: span 10;
    }
}

@media screen and (max-width: 595px) {
    html,
    body {
        font-size: clamp(9px, 1.2vw, 11px);
    }

    .container.about > main {
        grid-column: span 7;
    }

    .container > nav {
        grid-column: span 3;
    }

    .container > main {
        grid-column: span 9;
    }

    .container.works main {
        grid-column: span 9;
    }

    .left {
        grid-column: 1 / span 7;
        color: black;
        z-index: 1;
    }

    .right {
        position: absolute;
        grid-column: 5 / span 10;
    }
}
