<html lang="en">
    {{ partial "head.html" . }}

    <body>
        <div class="container">
            {{ partial "header.html" . }} {{ partial "nav.html" . }}
            <main>
                <strong class="post-title">{{ .Title }}</strong>

                <!--<span class="post-date">
                    {{ .Date.Format "January 2, 2006" }}
                </span>-->

                {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" />
                {{ end }} {{ .Content }}
            </main>

            <!--{{ partial "footer.html" . }}-->
        </div>
    </body>
</html>
