<nav class="site-nav">
    <ul class="main-menu">
        <li>
            <a href="/">Kim Seung Yeop</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        <li>
            <a href="https://www.instagram.com/mainaccessdoor/">Instagram</a>
        </li>

        <!--{{ range.Site.Menus.main }}
        <li>
            <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}-->
    </ul>
</nav>
