<html lang="en">
    {{ partial "head.html" . }}

    <body>
        <div class="container">
            {{ partial "nav.html" . }}
            <ul class="works-ul">
                {{ range $index, $page := where .Site.RegularPages "Section"
                "works" }}
                <li>
                    <a href="{{ $page.RelPermalink }}">
                        {{ add $index 1 }}&nbsp; {{ $page.Title }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </body>
</html>
